h1{
    color:salmon;
}

a{
    color:limegreen;
    text-decoration: none; /* This removes line under the links */
}

p::first-letter{
    font-size: x-large;
}

li{
    color: cyan;
    font-weight: lighter;
}

body{
    font-family: sans-serif;
    font-size: large;
}

body{
    background-color: teal;
}